@font-face {
    font-family: "Billyer";
    src: url(../fonts/Billyer.ttf);
}

@font-face {
    font-family: "Coolvetica";
    src: url(../fonts/coolvetica.ttf);
}

@font-face {
    font-family: "Coolvetica-Comp";
    src: url(../fonts/coolvetica_compressed.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Coolvetica", arial;
    color: white;
}

a {
    text-decoration: none;
}

html, body, #pagina {
    height: max-content;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/fondo.jpg);
}

#pagina #cabecera {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #2B2B2B;
    box-shadow: 6px 0px 55px -9px rgba(0,0,0,0.75);
    z-index: 95;
}

    #pagina #cabecera h1, #pagina #cabecera #botonMenuLateral {
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        line-height: 50px;
    }

    #pagina #cabecera #botonMenuLateral {
        font-size: 45px;
        margin-top: 2px;
    }

    #pagina #cabecera h1 {
        font-size: 50px;
        letter-spacing: 2px;
        overflow: hidden;
        white-space: nowrap;
    }

#pagina #menuDesplegable {
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: -100%;
    transition: all 1s ease;
}

#pagina #menuDesplegable:target {
    left: 0%;
}


    #pagina #menuDesplegable #contenidoMenu, #pagina #cabecera #menuDesplegable #quitMenu {
        float: left;
    }

    #pagina #menuDesplegable #contenidoMenu {
        height: 100%;
        width: 85%;
        background-color: #2B2B2B;
        box-shadow: 6px 0px 55px -9px rgba(0,0,0,0.75);
    }

        #pagina #menuDesplegable #contenidoMenu h1 {
            width: 100%;
            text-align: center;
            line-height: 60px;
            font-size: 60px;
            letter-spacing: 2px;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px #858585 solid;
        }

        #pagina #menuDesplegable #contenidoMenu nav {
            width: 100%;
            margin-top: 20px;
            height: calc(100% - 120px);
            overflow-y: auto;
            text-align: center;
        }

            #pagina #menuDesplegable #contenidoMenu nav .nav-item {
                margin-bottom: 25px;
                font-size: 30px;
            }

    #pagina #menuDesplegable #quitMenu {
        height: 100%;
        width: 15%;
        text-align: center;
        display: flex;
    }
        #pagina #menuDesplegable #quitMenu > a  {
            display: block;            
            margin: auto;
        }

            #pagina #menuDesplegable #quitMenu > a > i {
                font-size: 40px;
                color: rgba(255, 255, 255, 0.48);
            }

#pagina main {
    display: flex;
    flex-direction: column;
}


    #pagina main .apartado {
        position: relative;
        align-content: stretch;
        width: 100%;
        clear: both;
        border-bottom: 1px white solid;
    }

        #pagina main .apartado .contenido_seccion {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 80%;
            padding-top: 20px;
            padding-bottom: 60px;
        }

        #pagina main .apartado .nombre_apartado {
            margin-top: 60px;
            margin-left: 20px;
            font-size: 30px;
        }

    #pagina main #home #info_personal img {
        margin: auto;
        height: 250px;
        background-color: white;
        border-radius: 130px;
        margin-top: 45px;
    }

    #pagina main #home #info_personal h1 {
        margin-top: 20px;
        font-size: 28px !important;
    }

    #pagina main #home #info_personal h2, #pagina main #home #info_personal h1 {        
        text-align: center;        
        font-size: 22px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    #pagina main #home #info_personal h2 {
        margin-bottom: 40px;
    }

    #pagina main #home #info_personal .boton:hover {
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);
    }

    
    #pagina main #home #info_personal .social-networks {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 40px auto;
    }

        #pagina main #home #info_personal .social-networks .social-network {
            display:  block;
            font-size: 30px;
            background-color: #FFFFFF;
            border-radius: 25px;
            padding: 5px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            box-shadow: 6px 0px 55px -9px rgba(0,0,0,0.75);
        }

            #pagina main #home #info_personal .social-networks .social-network i {
                color: #1e1e1e;
            }



    #pagina main #skills .contenido_seccion .skill {
        height: max-content;
        margin-bottom: 20px;
    }

    #pagina main #skills .contenido_seccion .skill .skill-info {
        height: 80px;
        background-color: #FFFFFF;
        box-shadow: 6px 0px 55px -9px rgba(0,0,0,0.75);
        border-radius: 15px;
    }

        #pagina main #skills .contenido_seccion .skill .skill-info .skill-icon {
            height: 100%;
            width: 60px;
            background-color: #ff4c60;
            border-radius: 10px 0px 0px 10px;
            float: left;
        }

            #pagina main #skills .contenido_seccion .skill .skill-info .skill-icon i{
                line-height: 80px;
                color: #FFFFFF;
                font-size: 36px;
                width: 100%;
                text-align: center;
            }

        #pagina main #skills .contenido_seccion .skill .skill-info .skill-desc {
            width: calc(100% - 80px);
            float: left;
            padding: 5px 10px 5px 10px;
            height: calc(100% - 10px);
        }

            #pagina main #skills .contenido_seccion .skill .skill-info .skill-desc *  {
                color: #000000 !important;
            }

            #pagina main #skills .contenido_seccion .skill .skill-info .skill-desc h3 {
                font-size: 28px;
                letter-spacing: 1px;
            }

            #pagina main #skills .contenido_seccion .skill .skill-info .skill-desc p {
                line-height: 33px;
            }

        #pagina main #skills .contenido_seccion .skill .skill-extra-info {
            margin-left: 15px;
            margin-right: 15px;
            padding: 0px 15px;
            width: calc(100% - 60px);
            max-height: 0px;
            overflow: hidden;
            background-color: #2B2B2B;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 0px 0px -9px rgba(0,0,0,0.75);
            transition: max-height 1s ease, padding 1s ease;
        }

            #pagina main #skills .contenido_seccion .skill .skill-extra-info p {
                text-align: justify;
            }

            #pagina main #skills .contenido_seccion .skill .skill-extra-info ul {
                margin-left: 15px;
                margin-top: 5px;
                list-style-type: none;
            }

            #pagina main #skills .contenido_seccion .skill .skill-extra-info ul li {
                letter-spacing: 1px;
            }

                #pagina main #skills .contenido_seccion .skill .skill-extra-info ul li::before {
                    content: "\2022";
                    color: #ff4c60;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }


    #pagina main #about .contenido_seccion #info_about {
        color: black;
        text-align: justify;
        font-size: 18px;
        margin: 20px 0px;
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 8px 8px 8px 8px;
        box-shadow: 6px 0px 55px -9px rgba(0,0,0,0.75);
    }

        #pagina main #about .contenido_seccion #info_about img {
            display: block;
            margin-bottom: 10px;
            margin: 0px calc(50% - 50px) 10px calc(50% - 50px);
            height: 100px;
            background-color: white;
            border-radius: 130px;
            border: 1px solid #000000;
        }

        #pagina main #about .contenido_seccion #info_about .boton {
            display: block;
            width: max-content;
            margin-top: 30px;
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
        }

#pagina main #contact .contenido_seccion form label {
    display: block;
    width: calc(100% - 40px);
    background-color: #3a3a3a;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    box-shadow: 6px 0px 55px -9px rgba(0,0,0,0.75);
    border-radius: 25px;
    margin-bottom: 20px;
}

    #pagina main #contact .contenido_seccion form label input {
        width: calc(100% - 15px);
        line-height: 50px;
        font-size: 20px;
        background-color: transparent;
        border: none;
    }

    #pagina main #contact .contenido_seccion form label textarea {
        width: 100%;
        height: 300px;
        resize: none;
        line-height: 50px;
        font-size: 20px;
        background-color: transparent;
        border: none;
    }

    #pagina main #contact .contenido_seccion form div {
        display: flex;
        justify-content: center;
    }

    #pagina main #contact .contenido_seccion form button[type="submit"] {
        border: none;
        margin: 0 auto;
        width: max-content;
        font-size: 16px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    }

    #pagina main #contact .contenido_seccion form label input:focus, #pagina main #contact .contenido_seccion form label textarea:focus  {
        outline: none;
    }

footer .madeby {
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
}

/* CLASES GLOBALES */
.boton {
    cursor: pointer;
    margin: auto;
    padding: 10px 25px 10px 25px;
    background-color: #ff4c60;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    text-decoration: none;
}

.boton:focus {
    outline: none;
}


@media screen and (min-width: 1000px) {
    body::-webkit-scrollbar {
        width: 0px;
    }

    #pagina #cabecera #botonMenuLateral {
        display: none;
    }

    #pagina #cabecera h1 {
        margin: 0px 10px;
    }

    #pagina #menuDesplegable {
        position: fixed;
        height: 50px;
        top: 0px;
        left: 200px;
        width: calc(100% - 200px);
        transition: none;
    }

    #pagina #menuDesplegable #contenidoMenu {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }

    #pagina #menuDesplegable #contenidoMenu h1{
        display: none;
    }

    #pagina #menuDesplegable #contenidoMenu nav{
        margin: 0px;
        height: 100%;
        overflow-y: unset;
    }

    #pagina #menuDesplegable #contenidoMenu ul{
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    #pagina #menuDesplegable #contenidoMenu nav .nav-item{
        margin: 0px 20px;
        overflow: unset;
        font-size: 20px;
        line-height: 48px;
        letter-spacing: 1px;
    }

    #pagina #menuDesplegable #contenidoMenu nav .nav-item:hover a {
        color: #ff4c60 !important;
    }

    #pagina #menuDesplegable #quitMenu{
        display: none;
    }

    #pagina main #home #info_personal .social-networks {
        width: 50%;
    }

    #pagina main #about .contenido_seccion {
        width: 60%;
    }

    #pagina main #about .contenido_seccion #info_about img {
        height: 120px;
        margin-left: 0px;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    #pagina main #contact .contenido_seccion {
        width: 50%;
    }

}